FCM_API_KEY="AIzaSyDHyc6-un.."
FCM_AUTH_DOMAIN="ai-iot-notifier.firebaseapp.com"
FCM_PROJECT_ID="ai-iot-notifier"
FCM_STORAGE_BUCKET="ai-iot-notifier.firebasestorage.app"
FCM_SENDER_ID="3712..."
FCM_APP_ID="1:37120....:web:d82b99be7f4522df...."
FCM_VAPID_KEY= "BO5P03cYAzd54k..."
BACKEND_URL=http://localhost:5001